@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:rgb(26, 26, 26)
}
body{
    height: 100vh;
   
    background: url("./assets/pexels-pixabay-158163.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(163, 161, 161);
   background-blend-mode: multiply;
    
}
#city-input:invalid{
    border:3px solid red;
    background-color: rgba(255, 144, 144, 0.959);
}
.input-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.autocomplete-city{
    position: absolute;
    top:calc(100% + 5px);
    left:0;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding:0;
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
}
.autocomplete-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    
    background-color: rgba(133, 161, 255, 0.8);
    padding: 0.5em;
    border-bottom: 1px solid black;
    font-size: 1.1em;
    font-weight: 500;
    backdrop-filter: blur(30px);
    

}
.autocomplete-container:hover{
    background-color: rgba(34, 85, 255,1);
}
.autocomplete-city>div:first-child{
    border-radius: 1em 1em 0 0 ;
}
.autocomplete-city>div:last-child{
    border-radius:0 0 1em 1em;
    
}
.map-button{
    align-self: center;
    font-size: 1.2em;
    transition: all 0.5s;
    
}
.map-button:hover{
    transform: scale(1.2);
}
.autocomplete-name-country{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#gpsmodal{
    position: absolute;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
}
#nav-button{
    display: none;
}
.logo{
    margin: 0 1em;
    font-size: minmax(1.3rem,3rem);
    -webkit-text-stroke: 2px rgb(5, 5, 5);
    color:white;
    text-shadow: 5px 5px black;
    
}
header{
    display: flex;
    height:7vh;
    width: 100%;
    background-color: rgba(34, 85, 255,0.6);
    justify-content:space-between;
    align-items: center;
}
.nav-tools{
    display: flex;
    width: auto;
    flex-direction: row;
    margin: 0px 1%;
}
#main-window{
    display: flex;
    width: 100%;
    height: 100%;
   padding: 0.5em;
   align-items: center;
}


.nav-tools button{
    width: 2.5em;
    aspect-ratio: 1/1;
    margin: 0.2em;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
}
main{
    display: flex;
    width: 100%;
    height: 93vh;
    justify-content: space-between;
    align-items: center;
}
.nav-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width:250px;
    width: 300px;
    align-self: flex-start;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border-right: dashed rgb(4, 28, 36) 2px;
    padding: 5px;
    padding-bottom: 300px;
    backdrop-filter: blur(5px);
}

.input-comp{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
}
#search{
    flex-basis: content;
   
}
#city-input{
    flex-grow: 1;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}
.nav-options{
    padding: 0;
    list-style-type: none;
}
.nav-options li{
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(0, 0, 0);
    padding: 1em;
    margin-top: 1.5em;
    border-radius: 1em;
    transition: all 300ms ;
    text-align: center;
    
}
.nav-options li:hover{
    cursor: pointer;
    transform: scale(1.02);
    filter: brightness(1.1);
    background-color: rgb(255, 255, 255);
}
.weather-main{
    display: grid;
    grid-template-columns:minmax(300px,1fr) repeat(3,minmax(195px,1fr));
    grid-template-rows: repeat(3,1fr);
    row-gap:2em;
    column-gap:2%;
    width: 100%;
    height: 100%;
    
    transition: all 500ms;
    
}
.weather-main div:nth-child(1){
    grid-column: 1;
    grid-row:1/span 3;
}
.weather-main>div{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1.5em;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
}
.chart-container{
    width: 100%;
    
    height: 60%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3em;
    backdrop-filter: blur(5px);
    color:black;
    padding: 0.5em;
}
#myChart{
    min-height: 100%;
    max-width: 95%;
}


.input-comp input:focus{
    outline: 0;
}
#temperature{
    font-size: 5rem;
}
#weather-description{
    font-size: 2rem;
    word-break: normal;
    text-align: center;
    
}
.weather-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.weather-item>div{
    font-size: 2rem;
    font-weight: 500;
}
.additional-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    font-size: 1.5rem;
    width: 80%;
    font-weight: 500;
}
.prop-container,.basic-info{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}

#feelstemp::before{
    font:var(--fa-font-solid);
    content: "\f769";
    display: inline-block;
    position:absolute;
    top:10px;
    left:10px;
    font-size: 30px;
}
#clouds::before{
    font:var(--fa-font-solid);
    content: "\f0c2";
    display: inline-block;
    position:absolute;
    top:10px;
    left:10px;
    font-size: 30px;
}
#humidity::before{
    font:var(--fa-font-solid);
    content: "\f043";
    display: inline-block;
    position:absolute;
    top:10px;
    left:10px;
    font-size: 30px;
}
#visibility::before{
    font:var(--fa-font-solid);
    content: "\f070";
    display: inline-block;
    position:absolute;
    top:10px;
    left:10px;
    font-size: 30px;
}
#pressure::before{
    font:var(--fa-font-solid);
    content: "\f624";
    display: inline-block;
    position:absolute;
    top:10px;
    left:10px;
    font-size: 30px;
}
#sunrise::before{
    font:var(--fa-font-solid);
    content: "\f185";
    display: inline-block;
    position:absolute;
    top:10px;
    left:10px;
    font-size: 30px;
}
#sunset::before{
    font:var(--fa-font-solid);
    content: "\f186";
    display: inline-block;
    position:absolute;
    bottom:10px;
    left:10px;
    font-size: 30px;
}
#wind-speed::before{
    font:var(--fa-font-solid);
    content: "\f72e";
    display: inline-block;
    position:absolute;
    top:10px;
    left:10px;
    font-size: 30px;
}
#wind-direction::before{
    font:var(--fa-font-solid);
    content: "\f14e";
    display: inline-block;
    position:absolute;
    bottom:10px;
    left:10px;
    font-size: 30px;
}
#rain-snow::before{
    content: "\e473";
    display: inline-block;
    position:absolute;
    top:10px;
    left:10px;
    font:var(--fa-font-solid);
    font-size: 30px;
    
}
#forecast-window{
    width: 100%;
    height: 70%;
    display:grid;
    grid-template-columns: repeat(5,minmax(175px,1fr));
    grid-template-rows: 1fr;
    column-gap: 1%;
    align-content: center;
    
}
.forecast-container{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 3% 10px;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.forecast-item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.7rem;
}
.forecast-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.forecast-icon img{
    width: 150px;
    aspect-ratio: 1;
}
.forecast-item-maxtemp{
 font-size: 2.5rem;
}
.forecast-weather{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    height: 50px;
    font-size: 1.5rem;
}
.forecast-item-mintemp{
    color:rgb(68, 68, 68);
    font-size: 2.2rem;
}

@media screen and (max-width:1205px) {
    body{
        height: 100%;
        background: url("./assets/pexels-pixabay-158163.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(163, 161, 161);
        background-attachment: fixed;
        background-blend-mode: multiply;
    }
    #main-window{
        align-items: flex-start;
        padding: 0.3em;
    }
    #forecast-window{
        width: 100%;
        height: 100%;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,minmax(150px,1fr));
        row-gap: 1%;
        align-content:flex-start;
    }
    .forecast-container{
        background-color: rgba(255, 255, 255, 0.4);
        padding: 10px 3%;
        border-radius: 30px;
        backdrop-filter: blur(5px);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.2);
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .forecast-weather{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 1rem;
        height: 100%;
        font-size: 1.5rem;
    }
    .weather-main{
        display: grid;
        align-self: flex-start;
        grid-template-columns:repeat(3,minmax(195px,1fr));
    grid-template-rows: minmax(150px,1fr) repeat(3,minmax(150px,1fr));
        
        row-gap:1%;
        column-gap:1%;
        width: 100%;
        height: 92vh;
        
        
    }
    .weather-main div:nth-child(1){
        grid-column: 1/span 3;
        grid-row:1;
    }
   
    .basic-info{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:center ;
    }
    .basic-info #icon,.basic-info #icon img{
        width: 125px;
        aspect-ratio: 1;
    }
    .additional-info{
        width: auto;
        display: flex;
        flex-direction: column;
    }
    
    #temperature{
        font-size: 3rem;
    }
 }
 @media screen and (max-width:850px) {
    body{
        height: 100%;
    }
    header{
        position: fixed;
        z-index: 100;
    }
    .nav-aside{
        transform: translateX(-700px);
        transition: all 500ms;
        z-index: 50;
        position: fixed;
        min-height: 100%;
    }
    .weather-main{
        display: grid;
        align-self: flex-start;
        grid-template-columns:repeat(2,minmax(195px,1fr));
        grid-template-rows:  repeat(5,minmax(195px,1fr));
        row-gap:1%;
        column-gap:1%;
        width: 100%;
        height: 100%;
        
    }
    .weather-main div:nth-child(1){
        grid-column: 1/span 2;
        grid-row:1;
    }
    .weather-main div:nth-child(10){
        grid-column: 1/span 2;
        grid-row:6;
    }
    .nav-tools{
        display: block;
        justify-self: flex-start;
        
    }
    .active{
        transform: translateX(0px);
        
    }
    #nav-button{
        display: inline;
    }
    main{
        padding-top: 7vh;
        height: auto;
    }
    .logo{
        
        margin: 0;
        padding: 0;
    }
 }
 @media  screen and (max-width:500px){
    .weather-main{
        display: grid;
        align-self: flex-start;
        grid-template-columns:repeat(1,1fr);
        grid-template-rows:  repeat(10,minmax(195px,1fr));
        row-gap:0.5em;
        column-gap:1%;
        width: 100%;
        height: 100%;
        
    }
    .weather-main div:nth-child(1){
        grid-column: 1;
        grid-row:1;
        flex-direction: column;
    }
    .weather-main div:nth-child(10){
        grid-column: 1;
        grid-row:10;
    }
    #temperature{
        font-size: 2rem;
    }
    .forecast-item-maxtemp{
        font-size: 1.2rem;
       }
    .forecast-item-mintemp{
        color:rgb(68, 68, 68);
        font-size: 1rem;
    }
    .forecast-weather{
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 1rem;
    }
    .forecast-icon img{
        width: 7em;
        aspect-ratio: 1;
    }
    .week-day,.month-day{
        font-size: 1rem;
    }
    .nav-aside{
        width: 100%;
        border: 0;
    }
    .chart-container{
        height: 50vh;
    }
 }